$base-color: #fbb03b;
$second-color: #39b69f;
$white-color: #fff;
body {
    background-color: $base-color;
    color: $second-color;
}

.navbar {
    
}
.navbar-toggler {
    padding: 0.6em 0.8em;
    /*font-size: 1em;*/
    background-color: $second-color;
    border-radius: 50%;
    transition: all 0.5s;

    &:hover {
        background-color: #e4dada;
    }

    i {
        font-size: 1.5em;
        color: $white-color;
        transition: all 0.5s;
    }
}