@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&family=Roboto:wght@400;700&display=swap');

$base-color: #fbb03b;
$second-color: #39b69f;
$third-color: #138073;
$white-color: #fff;
body {
    background-color: $base-color;
    color: $third-color;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    
}
.navbar-toggler {
    padding: 0.6em 0.8em;
    /*font-size: 1em;*/
    background-color: $third-color;
    border-radius: 50%;
    transition: all 0.5s;

    &:hover {
        background-color: #e4dada;
    }

    i {
        font-size: 1.5em;
        color: $white-color;
        transition: all 0.5s;
    }
}
.form-group {
    input {
    height: 60px;
    border: 1px solid grey;
    }
    ::placeholder {
        color: $second-color;
    }
    label {
        margin-top: 23px;
    }
    span {
        text-decoration: underline;
    }
}
    
.own-style-button {
    width: 300px;
    background-color: $second-color;
    color: $white-color;
    height: 80px;
    border: 0.5px solid $white-color;

    &:hover {
        background-color: #e4dada;
        transition: all 0.5s;
    }
}
h2 {
    text-align: center;
    padding: 20px;
    font-weight: 400;
    font-family: 'Orelega One', cursive;
}

@media (min-width: 576px) { 
    body {
        padding: 50px;
    } 
}

@media (min-width: 768px) { 
    body {
        padding: 60px;
    } 
    .navbar-toggler {
        padding: 0.75em 1em;

        i {
            font-size: 2.25em;
        }
    }
    .navbar {
        right: -55px;
        top: -48px;
    }
 }

@media (min-width: 992px) { 
    body {
        padding: 70px;
    }
 }

@media (min-width: 1200px) { 
    body {
        padding: 80px;
    }
    .navbar-toggler {
        padding: 1em 1.25em;

        i {
            font-size: 3em;
        }
    }
    .navbar {
        right: -56px;
        top: -62px;
    }
 }